@use '../../utils' as *;



.tpaward-wrapper{
    & .row{
        & .col-md-6:nth-child(even){
            & .tpaward{
                padding-left: 55px;
                border-left: 1px solid #57595c;
                @media #{$xl}{
                    padding-left: 10px;
                }
                @media#{$xs} {
                    padding-left: 0;
                    border-left: 0 ;
                }
            }
        }
        & .col-md-6:nth-child(1){
            & .tpaward{
                padding-top: 0;
            }
        }
        & .col-md-6:nth-child(2){
            & .tpaward{
                padding-top: 0;
                @media#{$xs} {
                    padding-top: 30px;
                }
            }
        }
        & .col-md-6:nth-last-child(-n+2){
            & .tpaward{
               padding-bottom: 0;
               border-bottom: 0;
               @media#{$xs} {
                border-bottom: 1px solid #57595c;
                padding-bottom: 30px;
                }
            }
        }
    }
}
.tpaward{
    border-bottom: 1px solid #57595c;
    padding: 38px 0;
    &-wrapper{
        padding-right: 80px;
        @media #{$lg , $md}{
            padding-right: 0px;
        }
        @media#{$xs} {
            padding-top: 30px !important;
            padding-bottom: 30px !important;
            padding-right: 0px;
        }
    }
    & span{
        font-family: var(--tp-font-heading);
        font-size: 20px;
        color: #57595c;
        display: block;
        margin-bottom: 10px;
    }
    &__title{
        font-size: 30px;
        margin-bottom: 0;
        @media #{$lg}{
            font-size: 25px;
        }
    }
}