@use '../../utils' as *;

.tp-newsletter{
    &-area{
        .newsletter-section-title{
            font-size: 60px;
            @media #{$xs}{
                font-size: 40px;
            }
        }
    }
    &-margin{
        margin-top: -110px;
    }
    &-bg{
        padding: 80px;
        border-radius: 20px;
        @media #{$md}{
            padding: 80px 40px;
        }
        @media #{$sm , $xs}{
            padding: 60px 20px;
        }
    }
    &-box{
        @media #{$lg}{
            margin-top: 30px;
        }
        & form{
            @include flexbox();
            flex-wrap: wrap;
            justify-content: space-between;
            @media#{$xs} {
                display: block;
            }
        }
        & input{
            border-color: #fff;
            color: #fff;
            width: 100%;
            &:focus{
                border-color: #fff;
            }
            @include tp-placeholder{
                color: #fff;
            }
        }
        & .tp-btn-sec-lg {
            padding: 16.5px 38px;
        }

    }
    &-input{
        width: calc(100% - 205px);
        @media#{$xs} {
            width: 100%;
            margin-bottom: 20px;
        }
        & i{
            position: absolute;
            right: 20px;
            top: 22px;
            color: #fff;
            font-size: 16px;
        }
    }
    &-back {
        color: #fff;
        font-size: 100px;
        opacity: 0.1;
        position: absolute;
        left: 83px;
        bottom: -23px;
        line-height: 1;
        margin: 0;
        @media #{$xl}{
            font-size: 80px;
            left: 40px;
        }
        @media #{$lg}{
            font-size: 60px;
            left: 20px;
        }
        @media #{$md}{
            font-size: 75px;
            left: 35px;
        }
    }
    &-box-2{
        & input {
            border-color: #57595C;
            color: #57595C;
            &:focus{
                border-color: #57595C;
            }
            @include tp-placeholder{
                color: #57595C;
            }
        }
        & .tp-newsletter-back{
            opacity: 1;
            color: #EEEBE6;
        }
        .tp-newsletter-input {
            width: calc(100% - 193px);
            @media #{$xs}{
                width: 100%;
            }
            & i{
                color: #57595C; 
            }
        }

    }


}
.tp-newsletter-area{
    @media #{$md , $xs}{
        border-radius: 0;
    }
    &-4{
       & .container{
        max-width: 1350px;
       }
       .tp-newsletter-box-2 .tp-newsletter-input {
            width: calc(100% - 210px);
            @media #{$xs}{
                width: 100%;
            }
        }
    }
}