@use '../../utils' as *;
.custom-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    @media #{$xs}{
        justify-content: center;
    }
    
}
.tpfact{
    &__icon{
        & span{
            font-size: 110px;
            display: inline-flex;
            color: var(--tp-theme-color-2);
            line-height: 1;
            @media #{$lg}{
                font-size: 80px;
            }
        }

    }
    &__title{
        font-size: 30px;
        color: #fff;
        opacity: 0.5;
        @media #{$lg}{
            margin-bottom: 15px;
            font-size: 25px;
        }
    }
    &__text{
        & span{
            font-family: var(--tp-fonts-heading);
            font-size: 100px;
            color: #fff;
            display: inline-block;
            line-height: 1;
            @media #{$lg}{
                font-size: 80px;
            }
        }
    }
    &-2{
        & .tpfact__icon{
            & span{
                color: #57595C;
            }
        }
        & .tpfact__text{
            & span{
                color: #0A0E1A;
            }
        }
        & .tpfact__title{
            color: #0A0E1A;
            opacity: 1;
        }
    }
}
.cols{
    @media #{$md , $xs}{
        flex-basis: 50%;
    }
}