@use '../../utils' as *;


.tp-project {
   &-tab{
    & button{
        color: #fff;
        font-size: 100px;
        font-family: var(--tp-fonts-heading);
        line-height: 1.2;
        border-bottom: 1px solid #2F446B;
        padding: 13px 35px 13px 100px;
        transition: all 0.3s linear;
        &.active{
            border-color: var(--tp-theme-color-2);
            color: var(--tp-theme-color-2);
        }
    }
    &-thumb{
        & img{
            border-radius: 20px;
        }
       }
   }


    
}